*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* height: 1500px !important; */
    /* background-color: #27a776 !important; */
}

/* .container {
    height: 250px;
} */

.container-fluid {
    width: 95%;
}

.header {
    height: 90px;
}

.responsive-header-address,
.responsive-header-details {
    display: inline-block;
}

.logo img {
    height: 40px;
}

.address,
.details {
    font-family: monospace;
    font-size: 15px;
}

.icon {
    font-size: 20px;
    float: left;
    margin-top: 11px;
    margin-right: 15px;
    color: #656565;
}

.social li {
    list-style: none;
    float: left;
    width: 40px;
    display: inline-block;
}

.social li a {
    text-decoration: none;
    display: block;
    background: #656565;
    color: white;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
    transition: transform 1s;
    padding: 8px;
}

.social li a:hover {
    background: #6565653b;
    color: red;
    transform: rotate(360deg) scale(1.2);
    font-size: 16px;
}

/*---------Navbar---------*/

#navbar {
    border-radius: 50px;
    width: 100%;
    margin: 0 auto;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav li {
    width: 50%;
}

.navbar-nav a {
    font-weight: bold;
}

/*---------banner---------*/
.banner {
    /* height: 90vh; */
    /* height: 900px; */
    height: 100%;
}

.banner-img {
    margin-top: -30px;
    position: relative;
}

.banner-img img {
    /* height: 85vh; */
    height: 550px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.banner-details {
    padding: 130px 45px 70px 45px;
    /* height: 200px; */
    text-align: center;
}

.heading {
    color: white;
    font-family: 'Roboto Slab', serif;
}

.p-one {
    font-family: 'Secular One', sans-serif;
    font-size: 58px;
    font-weight: 100;
    color: white;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.p-two {
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    color: white;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.p-three {
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.search {
    width: 30%;
    position: relative;
    display: flex;
    margin: 0 auto;
}

.searchTerm {
    width: 100%;
    border: 1px solid #00B4CC;
    border-right: none;
    padding: 7px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.ReadButton {
    background-color: #7168687a;
    border: 2px solid #fff;
    font-weight: 500;
}

.ReadButton a {
    text-decoration: none;
    color: white;
}

.ReadButton:hover {
    background: #7b77777d;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 500;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---------Special Offer---------*/

.offer {
    height: 100%;
    width: 100%;
}

.offer-heading h2,
.newsUpdate-heading h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-family: 'Abril Fatface', cursive;
}

.offer-heading p,
.newsUpdate-heading p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.offer-1,
.offer-2,
.offer-3 {
    height: 520px;
    width: 100%;
    background: gray;
    border: 2px solid red;
}

.offer-1,
.offer-2,
.offer-3 h2 {
    color: white;
    text-align: center;
}

.offer-1 h2,
.offer-2 h2,
.offer-3 h2 {
    font-size: 24px;
    font-family: monospace;
}

.offer-1 img,
.offer-2 img,
.offer-3 img {
    height: 200px;
    width: 160px;
    transition: transform 1s;
    border-radius: 10%;
}

.productName {
    text-align: center;
    color: orange;
    font-size: 28px;
    font-family: monospace;
}

.productDetails p {
    text-align: center;
    font-size: 18px;
}

.offerOrderButton {
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    background: #ff0076;
}

.offer-1 img:hover,
.offer-2 img:hover,
.offer-3 img:hover {
    transform: scale(1.1);
}

.offerOrderButton:hover {
    background: #f44336;
    color: white;
}

/*---------News Update section---------*/
.newsUpdate-left,
.newsUpdate-right {
    width: 98%;
    height: 100%;
    background: #9c9a9a;
    box-shadow: 5px 5px 15px 3px;
}

.newsUpdate-left a,
.newsUpdate-right a {
    text-decoration: none;
    color: orange;
}

.newsUpdate-left img,
.newsUpdate-right img {
    width: 100%;
    height: 250px;
}

.newsUpdate-left-details,
.newsUpdate-right-details {
    padding: 10px 25px 0px 0px;
}

.newsUpdate-left-details p,
.newsUpdate-right-details p {
    text-align: justify;
    font-size: 18px;
    letter-spacing: -0.2px;
    margin: 0px;
    word-break: break-word;
}


.newsUpdate-left .btn,
.newsUpdate-right .btn {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

/*---------Footer---------*/
footer {
    background-color: #808080;
    color: black;
    height: 100%;
}

.footer-middle {
    position: relative;
    height: 100%;
}

.footer-social {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.footer-right {
    display: block;
    margin-left: auto;
    width: 60%;
}

.footer-address,
.footer-phone,
.footer-email {
    display: flow-root;
}

.footer-address i,
.footer-phone i,
.footer-email i {
    float: left;
    font-size: 1.5rem;
}

.footer-address p,
.footer-phone p,
.footer-email p {
    text-align: justify;
    padding-left: 35px;
}

.footerCopyright{
    height: 100%;
    width: 100%;
    background: #656565;
    color: white;
    overflow: hidden;
}

.footerCopyright p{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.footerCopyright a{
    text-decoration: none;
    color: #fff;
}

/*------- Scroll top button ------*/

.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 1;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    text-decoration: none;
    background: rgba(122, 121, 121, 0.8);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.3s;
}

.scroll-top i {
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 0;
}

.scroll-top:hover {
    background: #27a776;
    color: rgb(255, 255, 255);
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}


/*---------Media Query---------*/

@media only screen and (max-width: 991px) {
    .social {
        float: right;
    }
}


@media only screen and (max-width: 1200px) {

    .address,
    .details {
        display: none;
    }
}

@media only screen and (min-width: 1201px) {
    .responsive-header {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .responsive-header {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    #navbar {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1024px) {
    #navbar {
        width: 95%;
    }

    .offer-heading p,
    .newsUpdate-heading p {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
}

@media only screen and (max-width: 767px) {
    #navbar {
        margin-top: 45px;
    }
}

@media only screen and (max-width: 576px) {
    #navbar {
        margin-top: -5px;
    }
}

@media only screen and (max-width: 576px) {
    #navbar {
        margin-top: -5px;
    }
}

@media only screen and (max-width: 425px) {
    #navbar {
        width: 85%;
    }

    .banner {
        height: 100%;
    }

    .banner-img {
        margin-top: -30px;
        position: relative;
    }

    .banner-img img {
        height: 50vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .banner-details {
        padding: 80px 15px;
        /* height: 200px; */
        text-align: center;
    }

    .heading {
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    .p-one {
        font-family: 'Secular One', sans-serif;
        font-size: 36px;
        color: white;
        margin: 0;
        padding: 0;
    }

    .p-two {
        font-family: 'Teko', sans-serif;
        font-size: 19px;
        color: white;
        margin: 0;
        padding: 0;
    }

    .p-three {
        font-family: 'Teko', sans-serif;
        font-size: 18px;
        color: white;
        margin: 0;
        padding: 0;
    }

    .search {
        width: 80%;
        position: relative;
        display: flex;
        margin: 0 auto;
        font-size: 13px;
    }

    .searchTerm {
        width: 100%;
        border: 1px solid #00B4CC;
        border-right: none;
        padding: 7px;
        height: 30px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

    .searchTerm:focus {
        color: #00B4CC;
    }

    .searchButton {
        width: 40px;
        height: 30px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    .ReadButton {
        background-color: #7168687a;
        border: 2px solid #fff;
        font-weight: 500;
    }

    .ReadButton a {
        text-decoration: none;
        color: white;
    }

    .ReadButton:hover {
        background: #7b77777d;
        border: 2px solid #fff;
        color: #fff;
        font-weight: 500;
    }

    .offer-heading p,
    .newsUpdate-heading p {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        word-break: break-all;
    }

    .newsUpdate-left-details,
    .newsUpdate-right-details {
        padding: 10px 20px 0px 20px;
    }
}

@media only screen and (max-width: 576px) and (min-width: 0px) {
    .logo {
        width: 100%;
    }

    .logo img {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .social {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-social {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .footer-middle {
        display: none;
    }

    .footer-right {
        width: 100%;

    }
}

@media only screen and (max-width: 768px) {

    .footer-social {
        margin-right: 20px;

    }
}

@media only screen and (max-width: 1200px) and (min-width: 340px) {
    .social li {
        list-style: none;
        float: left;
        width: 40px;
        display: inline-block;
    }

    .social li a {
        text-decoration: none;
        display: block;
        background: #656565;
        color: white;
        border-radius: 50%;
        height: 34px;
        width: 34px;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        margin-left: 5px;
        transition: transform 1s;
        padding: 8px;
    }

    .social li a:hover {
        background: #6565653b;
        color: red;
        transform: rotate(360deg) scale(1.2);
        font-size: 16px;
    }

    .social {
        float: right;
    }

}